.wrapper {
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  width: 290px;
  margin: 0;
  
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.profile_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  text-align: center;
  margin-top: -1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.profile_img {
  margin: 0 auto;
  margin-top: -2rem;
  height: 100px;
  width: 100px;
  border: 6px solid white;
  outline: none;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.title_text {
  font-size: 0.9rem;
  color: black;
  font-weight: bold;
}

.grey_text {
  color: rgb(8, 76, 76);
}

.where {
  margin-bottom: 1.2rem;
}

.where > * {
  font-size: 0.8rem;
}

.stats {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
  border-top: 0.1px solid rgb(8, 76, 76);
}

.stats_name {
  font-size: 0.5rem;
  padding: 0.3rem;
  letter-spacing: 2px;
  text-align: center;
}

@media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
}
